<%= render(:partial => "shared/admin/header",
           :locals => { :subsection => 'events', :title => 'List All' } )%>

<h2>
	Total Events: <%= @events.size %>
</h2>

<%= render(:partial => "shared/admin/list_events" )%>

<%= render(:partial => "shared/admin/footer" )%>
