<%= render(:partial => "shared/header", :locals => { :title => 'List Jams' } )%>

<h2>People</h2>

<%= render(:partial => "shared/entries/list_by_country" )%>

<%= render(:partial => "shared/footer" )%>
