<% content_for :title do %>
  List People
<% end %>

<div style="padding-bottom: 1em; padding-top: 1em;">
	<span class="category_title"><%= raw @category_title %></span>
	<span class="category_subtitle"><%= raw @category_subtitle %></span>
</div>

<%= render(:partial => "shared/entries/list_by_country" )%>
