/*
PAGE TEMPLATE: 

	div class="main"
		div class="content"
			table class="navigation_bar"
				td
					th class="navigation_bar_entry"
		...

COLOR PALETTE:
	Based on 'savanna shadow':
		http://kuler.adobe.com/#themeID/338503/
	Light to dark:
		#FEF3D1;	- body background
		#FFDAB8;	- main background

		#FAFFFF;	- fieldset background (the lightest shade of blue)
		
		#EBC497;
		#A886AF;
		#272D30;
		#13171C;
*/

body {
	background: #FFDAB8;
}

.main {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
	border: 1px solid #272D30;
	
	background-color: #FEF3D1;

	width: 880px;
}

.content {
	padding: 1em;
	width: auto;
}

a:link {
	color: #181C1F;
}
a:visited {
	color: #43474B;
}

div.banner_image {
	text-align: center; 
}


/* === NAVIGATION BAR === */

table.navigation_bar {
	background-color: #FFF8F8;
	border: 1px solid black;
	margin-bottom: 1.5em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	width: 100%;
}

th.navigation_bar_entry {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	width: 33%;
}

/* === ANNOUNCEMENTS === */

.announcement fieldset {
 	border: 2px solid black; 
	background-color: #FFF8F8;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.announcement legend {
	font-size: 1.2em; 
	font-weight: bold; 
	padding-left: 0.5em; 
	padding-right: 0.5em;"
}


/* === FORMS === */

.ci_form_fieldname {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.ci_form_field {
	text-align: left;
	vertical-align: top;
}

.ci_form fieldset {
    width: 100%;
    margin: 0em 0em 0em 0em;
    padding: 0em;

    border: 1px solid #BFBAB0;
    /* background-color: #E7E7E7; */
    /* background-color: #D6FFFF; */
	/* background-color: #D6FFFF; */
	background-color: #FFF8F8;
}
.ci_form legend {
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}
.ci_form fieldset ol {
    padding: 0em 0em 0em 0em;
    list-style: none;
}
.ci_form fieldset li {
    padding-bottom: 0em;
}
.ci_form label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}
fieldset.ci_form_submit {
    float: none;
	clear: left;
    width: auto;
    padding-left: 12em;
    border: 0 none #FFF;
    background-color: transparent;
}

.ci_form table {
	padding: 1em 0em 0em 0em;
	width: 100%;
}
.ci_form th {
	font-size: 2.5em;
	padding-left: 0em;
	padding-right: 0.4em;
	text-align: right;
	vertical-align: top;
	width: 4em;
}
.ci_form td {
	padding-bottom: 1em;
	padding-left: 0em;
}


/* === LOGIN PAGE === */

td.login_step_number {
	text-align:     left;
	vertical-align:	top;
	width:			1.5em;
	font-size:		x-large;
	font-weight:	bolder;
}
td.login_method {
	text-align: 	left;
	vertical-align:	top;
	padding-bottom: 1em;
}



/* === ERROR MESSAGES === */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  /* font-size: 12px; */
  font-size: big;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  /* font-size: 12px; */
  list-style: square;
}




/* -------------------------------------------------------- */

/* === VESTIGIAL CSS === */


h1,h2,h3,h4 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
dt {margin-top:10pt}

.title {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font : bold medium;
	text-align : center;
}
.subtitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font : bold;
	text-align : center;
}
.indent {
	margin-left : 12pt;
}
.updated  { color: #666666; font-size: xx-small; font-family: sans-serif, Arial, Helvetica, Verdana; font-style: normal; font-variant: normal; line-height: normal; text-decoration: none }
.redbold {  font-style: italic; font-weight: bold; color: #FF0000}
.date { font-variant: small-caps }
.event { font-family: value, Georgia, "Times New Roman", Times, serif; font-weight: bold }
.location  /* where is the event? */  { }
.description { }
.fee { }
.contact { }


