/*
PAGE TEMPLATE: 

	div.main
		div.content
			div.banner_image
			table.navigation_bar
				td
					th.navigation_bar_entry
			div
				[div.lightbox_sidebar]
				div.announcement
				...
				div#ci_form_page
					div.ci_form
					...
				...

COLOR PALETTE:
	Based on 'savanna shadow':
		http://kuler.adobe.com/#themeID/338503/
	Light to dark:
		#FEF3D1;	- body background
		#FFDAB8;	- main background

		#FAFFFF;
		
		#EBC497;
		#A886AF;
		#272D30;
		#13171C;
*/

body {
	background: #FFDAB8;
}

.main {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
	border: 1px solid #272D30;

	background-color: #FEF3D1;

	width: 880px;
}

.content {
	padding: 1em;
	width: auto;
}

a:link {
	color: #181C1F;
}
a:visited {
	color: #43474B;
}

div.banner_image {
	text-align: center; 
}

.banner_image img {
	border-style: none;
}



/* === jQuery UI overrides  === */

.ui-dialog-titlebar {
    font-size: 120%;
}

.ui-widget-content {
    font-size: 100%;
}



/* === NAVIGATION BAR === */

div.navigation_bar {
	margin-bottom: 0.5em;
}

.navigation_bar table {
	background-color: #FFF8F8;
	border: 1px solid black;
	margin-bottom: 0.4em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	width: 100%;
}

th.navigation_bar_entry {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	width: 33%;
}


/* === LIGHTBOX SIDEBAR === */

div.lightbox_sidebar {
	border: 1px solid black;
	float: right; 
	margin-left: 1.5em;
	width: 120px; 
}

.lightbox_sidebar img {
	border-bottom: 1px solid black;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	margin: 0px;
	padding: 0px;
}

div.lightbox_sidebar_caption {
	font-size: 0.8em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2px;
	text-align: center;
}


/* === ANNOUNCEMENTS === */

.announcement fieldset {
 	border: 2px solid black; 
	background-color: #FFF8F8;
	margin-left: auto;
	margin-right: auto;
/*	width: 90%; */
}

.announcement legend {
	font-size: 1.2em; 
	font-weight: bold; 
	padding-left: 0.5em; 
	padding-right: 0.5em;
}


/* === BULLETED LIST === */

.ci_bulleted_list a {
	font-size: 1.2em;
}

.ci_bulleted_list ul {
	padding-top: 0em;
}

span.ci_bulleted_list_title {
	font-size: 1.5em; 
	font-weight: bold;
}
span.ci_bulleted_list_subtitle {
	font-size: 1.3em;
}



/* === CATEGORY TITLE === */

span.category_title {
	font-size: 2em;
	font-weight: bold;
	padding-right: 0.2em;
}

span.category_subtitle {
	font-size: 1.4em;
}



/* === DATES === */
/* Adapted from: http://www.avenuegc.co.uk/css/main.css */

div.date_box {
	display: block;
	/* float: left; */
	width: 68px;
	height: 77px;
	background:  url(/images/drop_shadow_date_box.jpg) no-repeat top left;
	margin-left:0px; 
	margin-right:5px; 
	margin-top:0; 
	margin-bottom:0px;
	padding-top: 1px;
}

div.date_box span {
	display: block;
	text-align: center;
}

div.date_box span.day {
	font-size: 35px;
	line-height: 30px;
	/* color: #FCB131; */
	color: #A886AF;
	margin-top:5px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.date_box span.month {
	margin-top: 2px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom:0px;
	line-height: 16px;
	color: #505050;
}

div.date_box span.year {   
	font-size: 12px;
	text-transform: uppercase;
	line-height: 10px;
	font-weight: bold;
	padding-top:3px;
	color: #505050;
}



/* === FORMS === */

div#ci_form_page {
	margin-left: 8em;
}

.ci_form_fieldname {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.ci_form_field {
	text-align: left;
	vertical-align: top;
}

.ci_form fieldset {
    width: 100%;
    margin: 0em 0em 0em 0em;
    padding: 0em;

    border: 1px solid #BFBAB0;
	background-color: #FFF8F8;
}
.ci_form legend {
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}
.ci_form fieldset ol {
    padding: 0em 0em 0em 0em;
    list-style: none;
}
.ci_form fieldset li {
    padding-bottom: 0em;
}
.ci_form label {
    float: left;
    width: 10em;
    margin-right: 1em;
	margin-left: 1em;
    text-align: right;
}
fieldset.ci_form_submit {
    float: none;
	clear: left;
    width: auto;
    padding-left: 12em;
    border: 0 none #FFF;
    background-color: transparent;
}

.ci_form table {
	padding: 1em 0em 0em 0em;
	width: 100%;
}
.ci_form th {
	font-size: 2.5em;
	padding-left: 0em;
	padding-right: 0.4em;
	text-align: right;
	vertical-align: top;
	width: 4em;
}
.ci_form td {
	padding-bottom: 1em;
	padding-left: 0em;
}


/* === LOGIN PAGE === */

td.login_step_number {
	text-align:     left;
	vertical-align:	top;
	width:			1.5em;
	font-size:		x-large;
	font-weight:	bolder;
}
td.login_method {
	text-align: 	left;
	vertical-align:	top;
	padding-bottom: 1em;
}


/* === ENTRIES === */

div.list_of_countries {
 	border-top: 1px solid #AAA; 
	border-bottom: 1px solid #AAA; 
	font-size: 0.9em;
	margin-left: 2em; 
	margin-right: 2em; 
	padding: 0.3em; 
	text-align: center; 
}

div.list_of_states {
	border-bottom: 1px solid #AAA; 
	font-size: 0.9em;
	padding: 0.3em; 
	margin-bottom: 1em; 
	margin-left: 2em; 
	margin-right: 2em; 
	text-align: center; 
}

div.country_name_heading_for_entry_list {
	font-size: 1.2em;
	font-weight: bold;
}

div.us_state_name_heading_for_entry_list {
	font-style: italic;
}

.entry_description p {
	margin-top: 0em;
	margin-bottom: 0em;
}

.entry_description p + p {
	margin-top: 0.5em;
}

div.entry_list_for_user {
	margin-left: 2em;
	margin-bottom: 2em;
}

div.entry_title {
	color: #514154;
	font-family: value, Georgia, "Times New Roman", Times, serif; 
	font-size: 1.1em;
	font-weight: bold;
}

div.entry_location {
	color: #505050;
	margin-bottom: 0.5em;
}

div.entry_description {
	margin-bottom: 0.1em;
}

div.entry_cost {
	margin-bottom: 0.1em;
}

div.entry_schedule {
}

div.entry_contact {
}

div.entry_updated  { 
	border-top: 1px solid #666;
	color: #666666; 
	font-size: xx-small; 
	font-family: sans-serif, Arial, Helvetica, Verdana; 
	font-style: normal; 
	font-variant: normal; 
	line-height: normal;
	margin-top: 0.8em;
	padding-top: 0.2em;
	text-align: right;
	text-decoration: none;
	width: 100%;
}


/* ===  ENTRY SUMMARY TABLE === */

.entry_summary_table th {
	border-bottom:0px solid #666666;
	padding-top: 1em;
	text-align: left;
}
.entry_summary_table td {
    border-bottom:1px solid #ccc;
	padding-right: 1em;
}
.entry_summary_table tr {
	vertical-align: top;
}


/* === ERROR MESSAGES === */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: big;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  /* font-size: 12px; */
  list-style: square;
}


/* ------------------------------------------------------------------------ */

/* === VESTIGIAL CSS === */
/* The styles below are applied to web pages that were created prior to the
    transition to a database backend in early 2009.  Changing these styles
	will change (for example) the archived Event Listings that go back to
	1995.
*/

h1,h2,h3,h4 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
dt {margin-top:10pt}

.title {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font : bold medium;
	text-align : center;
}
.subtitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font : bold;
	text-align : center;
}
.indent {
	margin-left : 12pt;
}
.updated  { 
	color: #666666; 
	font-size: xx-small; 
	font-family: sans-serif, Arial, Helvetica, Verdana; 
	font-style: normal; 
	font-variant: normal; 
	line-height: normal; 
	text-decoration: none;
}
.redbold {  
	font-style: italic; 
	font-weight: bold; 
	color: #FF0000;
}
.date { 
	font-variant: small-caps;
}
.event { 
	font-family: value, Georgia, "Times New Roman", Times, serif; 
	font-weight: bold;
}
.location { 
	color: #505050;
	margin-bottom: 0.5em;
}
.description { }
.fee { }
.contact { }
