<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
	<title>ContactImprov.net - <%= title %></title>
	<link rel="stylesheet" href="/contact.css" type="text/css" />

	<%= javascript_include_tag :defaults, :include_google_js => true, 
          :versions => {:scriptaculous => "1.8", :prototype => "1.6"} %>
	<%= calendar_date_select_includes nil %>
	
	<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18542553-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>

	<div class="main">
		<div class="content">

			<div class="banner_image">
				<a href="/"><img src="/images/ContactImprovNet-Banner.png" height="130" width="840" alt="" /></a>
			</div>

			<%= render(:partial => "shared/navigation_bar")%>

			<p style="text-align: right;  clear: both;">
			</p>
