<table>
	<tr>
		<th class="navigation_bar_entry" style="width: 25%;">
			<a href="/events">Special Events</a>
		</th>
		<th class="navigation_bar_entry" style="width: 35%;">
			<a href="/jams">Ongoing Jams/Classes</a>
		</th>
		<th class="navigation_bar_entry" style="width: 15%;">
			<a href="/people">People</a>
		</th>
		<th class="navigation_bar_entry" style="width: 25%;">
			<a href="/organizations">Organizations</a>
		</th>
   	</tr>
</table>
