<% fields_for prefix, studio do |s| %>
<fieldset>
	<legend><%= defined?(legend) && !legend.nil? ? legend : 'Studio' %></legend>
	<ol>
		<li>
			<label>Name:</label>
			<%= s.text_field :name %>
		</li>
	</ol>
</fieldset>
<% end %>
