<% content_for :title do %>
  Access denied
<% end %>

<h2>Access Denied</h2>

<p style="margin-left: 1em; font-size: 1.2em;">
  You must be a <b>ContactImprov.net Administrator</b> to access the requested page.
</p>
