<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="keywords" content="Contact Improvisation, Contact Improv, Contact Dance Improvisation, Contact Jams, Improv Dance Workshops Festivals">
    <meta http-equiv="expires" content="+3">
    <title>Contact Improvisation</title>
    <link href="contact.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div class="main">
		<div class="content">

			<div class="banner_image">
				<img src="/images/ContactImprovNet-Banner.png" height="130" width="840" alt="" />
			</div>

			<table class="navigation_bar">
		    <tr>
					<th class="navigation_bar_entry"><a href="/#Events">Workshops and Events</a></th>
					<th class="navigation_bar_entry"><a href="/jams.html">Jams and Classes</a></th>
					<th class="navigation_bar_entry"><a href="/people.html">People and Places</a></th>
		    </tr>
		  </table>

			<div class="announcement">
				<fieldset>
					<legend>
						January 15, 2009 &mdash; Upgrading ContactImprov.net
					</legend>
					<p>
						We are working on making it easier for the Contact Improv community to 
						add information about <b>jams, workshops, classes and teachers</b> to this site
						and to keep that information up to date.

						We will be making a number of improvements to the site between now and mid-February -
						but we will never charge for any of our services.
				
						This site is a labor of love for the community, not a business.
					</p>
					<p>
						If you previously submitted an Event listing, we ask that you please <b>resubmit</b>
						the Event information by following these steps:
						<ol>
							<li>
								Fill out the 
								<a href="/user/request_account">Account Request form</a>
							</li>
							<li>
								Wait 0-48 hours for your request to be approved
							</li>
							<li>
								Once your account has been created, 
								<a href="/user">log in to your account</a>
							</li>
							<li>
								You will now be able to 
								<a href="/event/new">create Event listings</a> 
								or update your existing Event listings
							</li>
						</ol>
				
					</p>
				</fieldset>
			</div>

		  <p>If you are wondering what Contact Improv is, <a href="about.html">please click here</a>.</p>

		  <p>The site is organized into the following sections:</p>

		  <ul>
				<li><a href="#events">Events and Workshops</a>, listed chronologically. These are events that take place just once.
				<li><a href="jams.html">Ongoing Jams and Classes</a>
				<li><a href="people.html">People</a> and <a href="people.html#places">Places</a> teaching, performing, or otherwise involved in Contact
				<li><a href="announce.html">Announcements and Links</a> (notices, advertisements, etc.)
				<li><a href="photos/">Photographs</a> of Contact.
				<li><a href="ci25/ci25.html">CI25</a> was the celebration of the 25th Anniversary of Contact Improvisation, held at Oberlin College, June 1997. This section includes historical information about Contact including a bibliography and list of videos), so it might be useful to students of Contact. It also includes pointers to other celebrations of Contact held worldwide.
				<li><a href="writings.html">Essays, Articles, and Theses about Contact Improv</a> 
			</ul>

			<h2><a name="events" id="events">Workshops, Festivals, and Other Events</a></h2>

			<p>Events are listed in chronological order. For historical interest, see also the <a href="past-events.html">list of past events</a>.</p>

			<% @events.each do |event| %>
				<dt>
					<span class='date'><%= format_event_date_range(event) %></span>
					<span class='event'><%= event.title %></span>
					<span class='location'><%= format_entry_location(event) %></span>
				</dt>
				<dd>
					<span class='description'><%= event.description %></span>
					<br>
					<span class='fee'><%= event.cost %></span>
					<br>
					<span class='contact'>
						CONTACT: <%= event.person ? "#{event.person.first_name} #{event.person.last_name}" : '' %>
						&nbsp;&nbsp;&nbsp;&nbsp;
						PHONE: <%= event.phone_number ? event.phone_number.number : '' %>
						&nbsp;&nbsp;&nbsp;&nbsp;
						EMAIL: <%= event.email ? obfuscate_email_with_javascript(event.email.address) : '' %>
						&nbsp;&nbsp;&nbsp;&nbsp; 
						WEBSITE: <%= event.url ? "<a href=\"#{event.url.address}\">#{event.url.address}</a>" : '' %>
					</span>
					<br>
					<span class='updated'>[<%= event.updated_at.strftime('%b %d %Y') %>]</span>
				</dd>
			<% end %>
			
			<p />
			
			<p style="border-bottom: solid 1px black;" />

			<div style="font-size: small; text-align: right;">
				<p>
					As of January 15, 2009, this site is maintained by 
					<a href="http://craigharman.net">Craig Harman</a>,
					<br />
					with assistance from
					<a href="http://myriadicity.com/Sundry/FrontPage">Ken Manheimer</a>.
				</p>
				<p>
			        Many thanks to Jim Davis, Chris Deephouse and Mugsy Lunsford  
					<br />
					for maintaining and hosting this site for our benefit for many years.
				</p>
			</div>

		</div>
  </div>
</body>
</html>
