<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="keywords" content="Contact Improvisation, Contact Improv, Contact Dance Improvisation, Contact Jams, Improv Dance Workshops Festivals">
    <meta http-equiv="expires" content="+3">
    <title>Contact Improvisation</title>
    <link href="contact.css" type="text/css" rel="stylesheet">
</head>
<body>
    <table width="80%" border="1" cellpadding="4" align="center" bgcolor="#FFFFFF">
        <tr>
            <th class="title" colspan="3">Welcome to ContactImprov.net</th>
        </tr>
        <tr>
            <th class="subtitle" width="33%"><a href="#Events">Workshops and Events</a></th>
            <th class="subtitle" width="33%"><a href="jams.html">Jams and Classes</a></th>
            <th class="subtitle" width="33%"><a href="people.html">People and Places</a></th>
        </tr>
    </table>
    <p>These web pages list jams, workshops, classes, and teachers of <strong>Contact Improvisation</strong> around the world.<br>
    Please update your bookmark to <strong>www.contactimprov.net</strong>.</p>
    <p>If you are wondering what is Contact Improv, <a href="about.html">please click here.</a></p>
    <p>For information about adding a listing to this site, <a href="#email">please click here</a>.</p>
    <p>For everyone else, these pages are divided as follows:</p>
    <ul>
        <li><a href="#events">Events and workshops</a>, listed chronologically. These are events that take place just once.
        <li><a href="jams.html">Ongoing jams and classes</a>
        <li><a href="people.html">People</a> and <a href="people.html#places">Places</a> teaching, performing, or otherwise involved in contact.
        <li><a href="announce.html">Announcements and links</a> (notices, advertisements, etc.)
        <li><a href="photos/index.html">Photographs</a> of contact.
        <li><a href="ci25/ci25.html">CI25</a> was the celebration of the 25th Anniversary of Contact Improvisation, held at Oberlin College, June 1997. This section includes historical information about contact including a bibliography and list of videos), so it might be useful to students of contact. It also includes pointers to other celebrations of contact held worldwide.
        <li><a href="writings.html">Essays, articles, and theses about contact improv.</a> <span style="color: Red; font-weight: bolder;">New:</span> <a href="Portland-ME-Phoenix-Article.html">Article from the Portland (Maine) Phoenix</a>.
        <li><span style="color: Red; font-weight: bolder;">New listing:</span> Four weekly jams in <a href="jams.html#S">Stockholm, Sweden</a>.
    </ul>
    <h2><a name="events" id="events">Workshops, Festivals, and Other Events</a></h2>
    <p>In chronological order. For historical interest, see also the <a href="past-events.html">list of past events</a>. <span class="updated">Last update Jan 2008.</span></p>

	<% @events.each do |event| %>
		<dt>
			<span class='date'><%= format_event_date_range(event) %></span>
			<span class='event'><%= event.title %></span>
			<span class='location'><%= format_entry_location(event) %></span>
		</dt>
		<dd>
			<span class='description'><%= event.description %></span>
			<br>
			<span class='fee'><%= event.cost %></span>
			<br>
			<span class='contact'>
				CONTACT: <%= event.person ? "#{event.person.first_name} #{event.person.last_name}" : '' %>
				&nbsp;&nbsp;&nbsp;&nbsp;
				PHONE: <%= event.phone_number ? event.phone_number.number : '' %>
				&nbsp;&nbsp;&nbsp;&nbsp;
				EMAIL: <%= event.email ? obfuscate_email_with_javascript(event.email.address) : '' %>
				&nbsp;&nbsp;&nbsp;&nbsp; 
				WEBSITE: <%= event.url ? "<a href=\"#{event.url.address}\">#{event.url.address}</a>" : '' %>
			</span>
			<br>
			<span class='updated'>[<%= event.updated_at.strftime('%b %d %Y') %>]</span>
		</dd>
	<% end %>

	<dt>
		<hr>

		<p>See also</p>
        <p><a href="jams.html">Contact jams and classes</a></p>
        <p><a href="announce.html">Announcements and links</a></p>
        <p><a href="people.html">People and places</a></p>
        <hr>
        <h3><a name="email" id="email">Listing Information</a></h3>

		<span>
			To create or update information for an Event, a Contact Jam, or a Person:
			<ol>
				<li><a href="/user/request_account">Request an account</a> on ContactImprov.net</li>
				<li>Wait for your account request to be approved</li>
				<li><a href="/user">Log in to your account</a></li>
				<li>
					Create a new entry for an 
					<a href="/event/new">Event</a>/Contact Jam/Person 
					or edit an existing entry
				</li>
			</ol>
		</span>

        <p>Please don't send email asking me to locate a teacher or jam in your area. All the information that I have is listed in the pages here. If it isn't here already, then I don't know about it.</p>
		<p><font size="small">As of September 25, 2004, this site is maintained by Mugsy Lunsford.
		<br />
        Many thanks to Jim Davis and Chris Deephouse for maintaining and hosting this site for our benefit for many years.</font>
		</p>
	</dt>
</body>
</html>
