<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="keywords" content="Contact Improvisation, Contact Improv, Contact Dance Improvisation, Contact Jams, Improv Dance Workshops Festivals">
    <meta http-equiv="expires" content="+3">
    <title>Contact Improvisation</title>
    <link href="contact.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div class="main">
		<div class="content">

			<div class="banner_image">
				<a href="/"><img src="/images/ContactImprovNet-Banner.png" height="130" width="840" alt="" /></a>
			</div>

			<div class="navigation_bar">
				<%= render(:partial => "shared/navigation_bar")%>
			</div>
			
			<div class="announcement">
				<fieldset>
					<legend>
						January 15, 2009 &mdash; Upgrading ContactImprov.net
					</legend>
					<p>
						We are working on making it easier for the Contact Improv community to 
						add information about <b>jams, workshops, classes and teachers</b> to this site
						and to keep that information up to date.

						We will be making a number of improvements to the site between now and mid-February -
						but we will never charge for any of our services.
				
						This site is a labor of love for the community, not a business.
					</p>
					<p>
						If you previously submitted an Event listing, we ask that you please <b>resubmit</b>
						the Event information by following these steps:
						<ol>
							<li>
								Fill out the 
								<a href="/user/request_account">Account Request form</a>
							</li>
							<li>
								Wait 0-48 hours for your request to be approved
							</li>
							<li>
								Once your account has been created, 
								<a href="/user">log in to your account</a>
							</li>
							<li>
								You will now be able to 
								<a href="/events/new">create Event listings</a> 
								or update your existing Event listings
							</li>
						</ol>
				
					</p>
				</fieldset>
			</div>
			
			<div class="ci_bulleted_list">
				<p>
					<span class="ci_bulleted_list_title">Directory</span>
					<span  class="ci_bulleted_list_subtitle">&mdash; where to find Contact Improv worldwide</span>
				</p>
				<ul>
					<li>
						<%= link_to 'Special Events', :action => 'list', :controller => 'events' %>
						&ndash; conferences, festivals, regional jams and workshops
					</li>
					<li>
						<%= link_to 'Ongoing Jams/Classes', :action => 'list', :controller => 'jams' %>
						&ndash; local classes and jams &ndash; <i>"regularly scheduled dancing"</i>
					</li>
					<li>
						<%= link_to 'People', :action => 'list', :controller => 'people' %>
						&ndash; teaching, performing, or otherwise involved in Contact
					</li>
					<li>
						<%= link_to 'Organizations', :action => 'list', :controller => 'organizations' %>
						&ndash; regional websites, studios, companies, etc. &ndash; <i>"everything else"</i>
					</li>
				</ul>
			</div>
			

			<div class="ci_bulleted_list">
				<p>
					<span class="ci_bulleted_list_title">Other resources</span>
					<span style="ci_bulleted_list_subtitle">&mdash;</span>
				</p>
				<ul>
					<li>
						<a href="/about.html">About Contact Improv</a>
					</li>
					<li>
						<a href="announce.html">Announcements and Links</a>
						&ndash; notices, advertisements, etc.
					</li>
					<li>
						<a href="/ci25/ci25.html">CI25</a>
						was the celebration of the 25th Anniversary of Contact Improvisation, held 
						in June 1997 at Oberlin College. This section includes historical information
						about Contact including a bibliography and list of videos.
					</li>
					<li>
						<a href="writings.html">Essays, Articles, and Theses about Contact Improv</a>
					</li> 
					<li>
						<a href="photos/">Photographs</a>
					</li>
				</ul>
			</div>

			<div style="border-bottom: solid 1px black; padding-bottom: 1.5em;"></div>

			<h2><a name="events" id="events">Workshops, Festivals, and Other Events</a></h2>

			<p>Events are listed in chronological order. For historical interest, see also the <a href="/past-events.html">list of past events</a>.</p>

			<% @entries.each do |entry| %>
				<%= render(:partial => "shared/entries/event", :locals => { :entry => entry } )%>
			<% end %>
			
			<p style="border-bottom: solid 1px black;" />

			<div style="font-size: small; text-align: right;">
				<p>
					As of January 15, 2009, this site is maintained by 
					<a href="http://craigharman.net">Craig Harman</a>,
					<br />
					with assistance from
					<a href="http://myriadicity.com/">Ken Manheimer</a>.
				</p>
				<p>
			        Many thanks to Jim Davis, Chris Deephouse and Mugsy Lunsford  
					<br />
					for maintaining and hosting this site for our benefit for many years.
				</p>
			</div>

		</div>
  </div>
</body>
</html>
