<%= render(:partial => "shared/header", :locals => { :title => 'List Events' } )%>

<h2><a name="events" id="events">Workshops, Festivals, and Other Events</a></h2>

<p>Events are listed in chronological order. For historical interest, see also the <a href="/past-events.html">list of past events</a>.</p>

<% @entries.each do |entry| %>
	<%= render(:partial => "shared/entries/event", :locals => { :entry => entry } )%>
<% end %>

<%= render(:partial => "shared/footer" )%>
