<% content_for :title do %>
  List Special Events
<% end %>

<a name="events" id="events" />
<div>
	<span class="category_title">Special Events &mdash;</span>
	<span class="category_subtitle">conferences, festivals, regional jams and workshops</span>
</div>

<p>Events are listed in chronological order. For historical interest, see also the <a href="/past-events.html">list of past events</a>.</p>

<% @entries.each do |entry| %>
	<%= render(:partial => "shared/entries/event", :locals => { :entry => entry } )%>
<% end %>
