<% content_for :title do %>
  (hopefully)
<% end %>

<h2>Please tell us something you like about Contact Improvisation in two or three sentences:</h2>

<div style="margin-left: 2em;">

	<% @reasons.each do |reason| %>
		<p style="border-bottom: 1px solid #DDD; padding-bottom: 1em;"><%= reason %></p>
	<% end %>

</div>
