<%= render(:partial => "shared/header", :locals => { :title => 'List Jams' } )%>

<h2>Ongoing Jams and Classes</h2>

<% @entries.each do |entry| %>
	<%= render(:partial => "shared/entries/jam", :locals => { :entry => entry } )%>
<% end %>

<%= render(:partial => "shared/footer" )%>
