<h2><%= entry_type.pluralize.capitalize %></h2>
<div class="entry_list_for_user">
	<p>
		<a href="<%= url_for :controller => entry_type, :action => 'new' %>">Add a new <%= entry_type.capitalize %></a>
	</p>
	<% @user.send("#{entry_type}_entries").each do |entry| %>
		<p>
			<a href="<%= url_for :controller => entry_type.pluralize, :action => 'edit', :id => entry.id %>">
				Edit <%= "#{entry_type} '#{entry.title}'" %>
			</a>
		</p>
	<% end %>
</div>

