<%= render(:partial => "shared/header", :locals => { :title => 'Account request received' } )%>

<div id="ci_form_page">

	<h2>Thanks!</h2>

	<p>
		We have received your request to create your ContactImprov.net account.
	</p>

</div>

<%= render(:partial => "shared/footer" )%>
