<%= render(:partial => "shared/header", :locals => { :title => 'Account request received' } )%>

<h2>Thanks!</h2>

<p>
	We have received your request to create your ContactImprov.net account.
</p>

<%= render(:partial => "shared/footer" )%>
