<%= render(:partial => "shared/header", :locals => { :title => 'List Organizations' } )%>

<h2>Organizations</h2>

<%= render(:partial => "shared/entries/list_by_country" )%>

<%= render(:partial => "shared/footer" )%>
