<%= render(:partial => "shared/admin/header",
           :locals => { :subsection => 'users', :title => 'List Active' } )%>

<%= render(:partial => "list_users" )%>

<%= render(:partial => "shared/admin/footer" )%>
