http://contactimprov.net/events/Israel/calendar.ics
http://www.contactimprov.net/events/United_States/calendar.ics
http://www.google.com/calendar/feeds/7rogrtpv3ikvaa0r1qk34r8l9g%40group.calendar.google.com/public/basic
http://eastcoastjam.com/events/ics_view
