<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
  <meta http-equiv="keywords" content="Contact Improvisation, Contact Improv, Contact Dance Improvisation, Contact Jams, Improv Dance Workshops Festivals">
	<title>ContactImprov.net - <%= yield :title %></title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.13.custom.css" />
	<link rel="stylesheet" href="/contact.css" type="text/css" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18542553-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
	<%= yield :head %>
</head>

<body>

	<div class="main">
		<div class="content">

			<div class="banner_image">
				<a href="/"><img src="/images/ContactImprovNet-Banner.png" height="130" width="840" alt="" /></a>
			</div>

			<%= render(:partial => "shared/navigation_bar")%>

			<p style="text-align: right;  clear: both;"></p>

      <%= yield %>

  	</div>
  </div>

</body>
</html>
